# Root-level node modules
/node_modules
/package-lock.json
/.env
.DS_Store

# Docker
*.log
*.pid
*.sock
.env.*
docker-compose.override.yml

# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# SQLite DB (if it’s okay to ignore)
backend/database.db
